@{
    ViewBag.Title = "Sales";
}

<div id="#WebDashboard1" style="position: absolute; left: 0; right: 0; top:0; bottom:0;">
    @Html.DevExpress().Dashboard(settings => {
    settings.Name = "WebDashboard1";
    settings.ControllerName = "SalesDashobard";
    settings.AllowCreateNewDashboard = false;
    settings.Width = Unit.Percentage(100);
    settings.Height = Unit.Percentage(100);
}).GetHtml()
</div>